{
  "parser": "@babel/eslint-parser",
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "plugin:import/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "jest": true
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx"]
      }
    }
  },
  "ignorePatterns": ["node_modules/**/*", "dist/**/*"],
  "rules": {
    "array-bracket-newline": [2, "consistent"],
    "array-bracket-spacing": [2, "always"],
    "array-element-newline": [2, "consistent"],
    "function-paren-newline": [2, "multiline-arguments"],
    "import/prefer-default-export": [0],
    "import/no-extraneous-dependencies": [2, {"devDependencies": ["/*.js", "**/*.test.js", "**/*.spec.js"]}],
    "no-magic-numbers": [2, { "ignoreDefaultValues": true, "ignoreArrayIndexes": true }],
    "object-curly-newline": [2, { "multiline": true, "consistent": true }],
    "operator-linebreak": [2, "after", { "overrides": { "?": "before", ":": "before" } }],
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": "*", "next": "return" },
      { "blankLine": "always", "prev": "*", "next": "function" },
      { "blankLine": "always", "prev": "function", "next": "*" },
      { "blankLine": "always", "prev": "*", "next": "expression" },
      { "blankLine": "always", "prev": "expression", "next": "*" },
      { "blankLine": "any", "prev": "expression", "next": "expression" },
      { "blankLine": "always", "prev": ["const", "let", "var"], "next": "*" },
      { "blankLine": "any", "prev": ["const", "let", "var"], "next": ["const", "let", "var"] },
      { "blankLine": "always", "prev": "if", "next": "*" },
      { "blankLine": "always", "prev": "*", "next": "if" }
    ],
    "template-curly-spacing": [2, "always"],
    "react/jsx-curly-spacing": [2, { "when": "always", "children": true }],
    "react/jsx-boolean-value": [2]
  }
}
